/* your-styles.css */

.segmented-input {
  display: flex;
  gap: 0; /* No gap between segments */
}

.segmented-input .form-control {
  text-align: center;
  width: 3rem; /* Adjust the width as needed */
  font-family: "Nunito Sans", sans-serif;
  margin: 0; /* Remove any default margin */
  padding: 1; /* Remove any default padding */
  border-radius: 0; /* Ensure there are no border-radius styles creating gaps */
}

.thead-dark {
  background-color: #562A74 !important;
  color: white !important;
}

td {
  text-align: center;
}

.heading {
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.82px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.footnote {
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
}
